<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 mr-auto ml-auto p-0">
        <pv-alerts></pv-alerts>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4 mr-auto ml-auto">
        <div class="box box__password-change box--centered box--shadow">
          <header class="box__header">
            <h2>Změna hesla</h2>
          </header>
          <div class="box__body">
            <form [formGroup]="form" (submit)="onSubmit(form.value)">
              <div class="form-group" *ngIf="!token"
                   [ngClass]="{'has-error':form.get('currentPassword').invalid && form.get('currentPassword').dirty}">
                <label for="current_password">Heslo</label>
                <input class="form-control" id="current_password" placeholder="Heslo" type="password"
                       [formControl]="form.get('currentPassword')">
                <div class="validation-message"
                     *ngIf="form.get('currentPassword').invalid && form.get('currentPassword').dirty">
                  <span *ngIf="form.get('currentPassword').hasError('required')">Pole není vyplněno.</span>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':form.get('newPassword').invalid && form.get('newPassword').dirty}">
                <label for="new_password">Nové heslo</label>
                <input class="form-control" id="new_password" placeholder="Heslo" type="password"
                       [formControl]="form.get('newPassword')">
                <div class="validation-message"
                     *ngIf="form.get('newPassword').invalid && form.get('newPassword').dirty">
                  <span *ngIf="form.get('newPassword').hasError('required')">Pole není vyplněno.</span>
                  <span *ngIf="!form.get('newPassword').hasError('required')">
                   <span
                     *ngIf="form.get('newPassword').hasError('minlength')">Heslo musí obsahovat alespoň 8 znaků.</span>
                </span>
                  <span *ngIf="form.get('newPassword').hasError('differentFields')">Nové heslo musí být jiné než aktuální heslo.</span>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':form.get('newPasswordConfirm').invalid && form.get('newPasswordConfirm').dirty}">
                <label for="new_password_verification">Nové heslo znovu</label>
                <input class="form-control" id="new_password_verification" placeholder="Heslo" type="password"
                       [formControl]="form.get('newPasswordConfirm')">
                <div class="validation-message"
                     *ngIf="form.get('newPasswordConfirm').invalid && form.get('newPasswordConfirm').dirty">
                  <span *ngIf="form.get('newPasswordConfirm').hasError('required')">Pole není vyplněno.</span>
                  <span *ngIf="form.get('newPasswordConfirm').hasError('matchFields')">Hesla nesouhlasí.</span>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn--disabled btn-gradient btn-lg btn-full" type="submit" [disabled]="form.invalid">
                  Změnit heslo
                </button>
              </div>
            </form>
          </div>
          <footer class="box__footer text-center">
            <p class="mb-0">Máte již účet? <a routerLink="/uzivatel/prihlaseni">Přihlašte se</a>.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
