<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Payvont</span>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Přijímání plateb </a>
        <a mat-button [routerLink]="'/create-account'">Kontakt</a>
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>

<nav class="navbar navbar-expand-lg"
  [ngClass]="{'fixed-on-scroll': false, 'transparent': fixedHeader && !isOnTop}" #nav
  (window:scroll)="onWindowScroll($event)">
  <div [ngClass]="{'container': !adminSection, 'container-fluid': adminSection}">
    <a class="navbar-brand" routerLink="/">
      <!--<img [src]="fixedHeader && !isOnTop ? '../../../assets/images/logo-w.png' : '../../../assets/images/logo-c.png'"/>-->
    </a>


    <button class="sidebar__toggler sidebar__toggler--dhover" type="button" *ngIf="adminSection"
      (click)="toggleSidebar()">
      <span class="fl flaticon-menu"></span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!adminSection; else admin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/prijimani-plateb" routerLinkActive="active">Přijímání plateb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
          </li>
        </ng-container>
        <ng-template #admin>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Zpět</a>
          </li>
        </ng-template>

        <li class="nav-item" *ngIf="!user; else loggedSection">
          <a class="nav-link btn-sign-in" routerLink="/uzivatel/prihlaseni" routerLinkActive="active">Přihlášení</a>
        </li>
        <ng-template #loggedSection>
          <li class="nav-item" *ngIf="adminSection">
            <a class="nav-link refresh" (click)="testReload()"><span class="fas fa-sync-alt"></span></a>
          </li>
          <li class="nav-item" *ngIf="adminSection" pvDropdown>
            <a class="nav-link notification" pvDropdownToggle>
              <span class="flaticon-bell-2"></span>
              <span class="notification__badge"
                [ngClass]="{'notification--empty': !notifications || (notifications && notificationsCount === 0), 'notification--new': shake}">{{notificationsCount}}</span>
            </a>
            <div class="pv-dropdown notification__list" pvDropdownMenu aria-labelledby="navbarDropdown">
              <div class="notification__header row">
                <div class="col-9">
                  Notifications ({{notificationsPreview.length}})
                </div>
                <div class="col-3 text-right">A</div>
              </div>
              <div class="notification__content row">
                <ng-container *ngIf="notificationsPreview && notificationsPreview.length > 0; else notificationsEmpty">
                  <ul>
                    <li *ngFor="let notification of notificationsPreview">
                      <span class="notification__icon icon icon--sm icon--rounded icon--light"
                        [ngClass]="{'icon--info': notification.type === 'user'}"><span
                          class="fas fa-user"></span></span>
                      <span class="notification__message">{{notification.message | truncate: 50}}</span>
                    </li>
                  </ul>
                </ng-container>
                <ng-template #notificationsEmpty>
                  Empty.
                </ng-template>
              </div>
              <a href="" class="notification__footer col-12 text-center"><span class=""></span> Zobrazit vše</a>
            </div>
          </li>
          <!--<li class="nav-item user-section" pvDropdown>-->
          <!--<a class="nav-link dropdown-toggle" pvDropdownToggle href="#" role="button">-->
          <!--{{user.name}}-->
          <!--</a>-->
          <!--<div class="dropdown-menu" pvDropdownMenu aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" routerLink="/zakaznik">Můj účet</a>-->
          <!--<a class="dropdown-item" routerLink="/uzivatel/zmena-hesla">Změna hesla</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" (click)="logout()">Odhlásit</a>-->
          <!--</div>-->
          <!--</li>-->
          <li class="nav-item user-section" pvDropdown>
            <a class="nav-link dropdown-toggle" pvDropdownToggle href="#" role="button">{{user.name}}</a>
            <div class="pv-dropdown" pvDropdownMenu>
              <ul>
                <li><a routerLink="/zakaznik">Můj účet</a></li>
                <li><a routerLink="/uzivatel/zmena-hesla">Změna hesla</a></li>
                <li class="pv-dropdown__divider"></li>
                <li><a (click)="logout()">Odhlásit</a></li>
              </ul>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>