@charset "UTF-8";

@import "abstracts/variables";
@import "abstracts/function";
@import "abstracts/mixin";

@import "~bootstrap/scss/bootstrap.scss";
@import "../icons/flaticon.css";

@import "base/animation";
@import "base/font";
@import "base/icon";
@import "base/base";
@import "base/utility";

@import "components/button";
@import "components/dropdown";
@import "components/card";
@import "components/tab";
@import "components/loader";
@import "components/box";
@import "components/notification";
@import "components/table";
@import "components/pagination";

@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/form";
@import "layout/plugin";

@import "pages/homepage";
@import "pages/login";
@import "pages/dashboard";
@import "pages/settings";
@import "pages/application-registration";
@import "pages/payment-form";
@import "pages/payment-content";

@import "vendors/ng-select";


.cta {
  padding: 10px 16px;
  @include rem-fallback(font-size, 18);
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);

  &:hover, &:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
  }
}


