<section class="homepage-carousel">
  <div class="overlay"></div>
  <!--<div class="bg-image" style="background-image: url(../../../assets/images/banner_1920.jpg)"></div>-->
  <!--<div class="bg-image" style="background-image: url(https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/1200x800/27-min.jpg)"></div>-->
  <div class="bg-image" style="background-image: url(../../../assets/images/main-1.jpg)"></div>
  <div class="container carousel-caption col-5">
    <!--<h1>Kvalitní obsah <br /> není samozřejmost</h1>-->
    <span class="pre-title">Lorem ipsum</span>
    <h1>Welcome to Smarty</h1>
    <!--<p>S námi za něj můžete platit snadno, rychle a bezpečně.</p>-->
    <p>Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
      modi tempora incidunt ut labore et dolore magnam.</p>

    <a class="btn btn-primary cta btn-xl">Vyzkoušet</a>
    <!--<span class="cta-description">Připojte svůj web do programu.</span>-->
  </div>
</section>
<section class="homepage-content">
  <section class="title-section">
    <div class="container">
      <div class="text-center">
        <h1 class="mb-0">CREATIVE <span>WEB</span> AGENCY</h1>
        <h2 class="col-sm-10 offset-sm-1 mb-0 fw-300 text-muted fs-20">Specializes in creating Brand Identity for
          emerging Startups</h2>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="text-center">
            <span class="icon icon--light icon--lg icon--rounded icon--hover"></span>
            <h4>Design</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="text-center">
            <span class="icon icon--light icon--lg icon--rounded icon--hover"></span>
            <h4>Analytics</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="text-center">
            <span class="icon icon--light icon--lg icon--rounded icon--hover"></span>
            <h4>Development</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="text-center">
            <span class="icon icon--light icon--lg icon--rounded icon--hover"></span>
            <h4>Marketing</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
          </div>
        </div>
      </div>
      <div class="container mt-5 pt-5" *ngIf="false">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe allowfullscreen="" class="embed-responsive-item"
                  src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="cta-section gradient gradient-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <h3>Zapojte se do programu a nechte svůj web <span><strong>vydělávat</strong></span>.</h3>
          <p>
            Již během pár minut můžete začít vydělávat.
          </p>
        </div>
        <div class="col-md-3 col-sm-12 flex-right-center">
          <a routerLink="/register" rel="nofollow" class="btn btn-primary cta btn-lg">Mám zájem</a>
        </div>
      </div>
    </div>
  </section>

  <section class="alternate">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="fa fa-tablet"></i>
              <h2>FULLY RESPOSNIVE</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">

          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="et-document"></i>
              <h2>RTL SUPPORT</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">

          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="et-basket"></i>
              <h2>MOBILE COMPATIBILE</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">

          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="et-briefcase"></i>
              <h2>CLEAN CODE</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">

          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="et-megaphone"></i>
              <h2>PREMIUM SLIDERS</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">

          <div class="box-icon box-icon-left">
            <a class="box-icon-title" href="#">
              <i class="et-flag"></i>
              <h2>SIMPLE TO USE</h2>
            </a>
            <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel
              fastidii.</p>
          </div>

        </div>

      </div>

    </div>
  </section>

</section>
