<div class="container-fluid application-registration">
  <h2 class="page__title"><span class="page__title--disabled">Stránka /</span> Přidání</h2>
  <div class="row">
    <div class="col-12">
      <pv-alerts></pv-alerts>
      <div class="">
      <div class="card card--sm mb-4">
        <h6 class="card-header">
          Default
        </h6>

        <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
          <div class="card-body">
            <fieldset>
              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{'has-error':form.controls['appImg'].invalid && form.controls['appImg'].dirty}">
                    <label class="control-label" for="appImg">Logo aplikace <span class="required">*</span></label>
                    <div class="logo-placeholder text-center mb-3" *ngIf="!appImg">
                        <span class="logo-placeholder__circle" (click)="uploader.click()">
                          <i class="fas fa-camera-retro"></i>
                        </span>
                    </div>
                    <div class="input-group mb-3">
                      <div class="img-thumbnail w-100 text-center mb-3" *ngIf="appImg">
                        <img [src]="appImg" class="img-fluid" alt="" title="">
                        <span class="flaticon-cancel app-image-delete" (click)="removeImage()"></span>
                      </div>
                      <div class="custom-file">
                        <input id="appImg" type="file" class="custom-file-input" [formControl]="form.controls['appImg']" (change)="onSelectFile($event)" #uploader>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group" [ngClass]="{'has-error':form.controls['name'].invalid && form.controls['name'].dirty}">
                        <label class="control-label" for="name">Název aplikace <span class="required">*</span></label>
                        <input id="name" type="text" class="form-control" [formControl]="form.controls['name']">
                        <div class="validation-message text-right" *ngIf="form.get('name').invalid && form.get('name').dirty">
                            <span *ngIf="form.get('name').errors.required">
                               <span>Pole není vyplněno.</span>
                            </span>
                        </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group" [ngClass]="{'has-error':form.controls['domain'].invalid && form.controls['domain'].dirty}">
                        <label class="control-label" for="domain">Doména aplikace <span class="required">*</span></label>
                        <input id="domain" type="text" class="form-control" [formControl]="form.controls['domain']">
                        <div class="validation-message text-right" *ngIf="form.get('domain').invalid && form.get('domain').dirty">
                            <span *ngIf="form.get('domain').errors.required">
                               <span>Pole není vyplněno.</span>
                            </span>
                        </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <div class="form-group form-check mt-2" [ngClass]="{'has-error':form.controls['agreement'].invalid && form.controls['agreement'].dirty}">
                  <input type="checkbox" name="agreement" id="agreement" class="" [formControl]="form.controls['agreement']">
                  <label for="agreement" class="form-check-label">
                    Souhlasím se zpracováním osobních údajů. <span class="required">*</span>
                  </label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group text-right mb-2">
                  <input type="submit" class="btn btn-primary" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
