<div class="container-fluid mb-5 mt-3">
<p-table [value]="users" [columns]="columns" [rows]="page.size" [totalRecords]="page.totalElements" [paginator]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="action">
        Akce
      </th>
    </tr>
    <tr>
      <!--<th *ngFor="let col of columns" [ngSwitch]="col.field">-->
        <!--&lt;!&ndash;<input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">&ndash;&gt;-->
        <!--<input *ngSwitchCase="'id'" type="text" pInputText placeholder="Vyhledat dle ID" class="form-control has-icon" (keyup.enter)="filter($event.target.value, col.field)">-->
        <!--<input *ngSwitchCase="'appId'" type="text" pInputText placeholder="Vyhledat dle aplikace" class="form-control has-icon" (keyup.enter)="filter($event.target.value, col.field)">-->
        <!--<input *ngSwitchCase="'price'" type="text" pInputText placeholder="Vyhledat dle ceny" class="form-control has-icon" (keyup.enter)="filter($event.target.value, col.field)">-->
        <!--&lt;!&ndash;<button type="submit"><span class="input-search flaticon-magnifying-glass"></span></button>&ndash;&gt;-->
        <!--&lt;!&ndash;<p-dropdown *ngSwitchCase="'status'" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>&ndash;&gt;-->
        <!--&lt;!&ndash;<ng-select *ngSwitchCase="'automaticRenew'" [(ngModel)]="automaticRenew" [items]="automaticRenewOptions" bindLabel="name" bindValue="id" (change)="filterSelect($event, 'automaticRenew')"></ng-select>&ndash;&gt;-->
        <!--&lt;!&ndash;<ng-select *ngSwitchCase="'status'" [(ngModel)]="status" [items]="statusOptions" bindLabel="name" bindValue="id" (change)="filterSelect($event, 'status')"></ng-select>&ndash;&gt;-->
      <!--</th>-->
    </tr>
  </ng-template>
</p-table>
</div>
