<div class="container-fluid mb-5 mt-3">
  <div class="table-responsive">
    <p-table
      #table
      [tableStyleClass]="'table table-filter table-bordered table-hover table-striped'"
      [value]="page.content"
      [columns]="cols"
      [rows]="page.size"
      [totalRecords]="page.totalElements"
      sortField="email"
      [sortOrder]="1"
      [lazy]="true"
      (onLazyLoad)="loadLazy($event)"
      [paginator]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="action">
            Akce
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'email'" type="text" pInputText placeholder="Vyhledat e-mail"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <input *ngSwitchCase="'details.lastName'" type="text" pInputText placeholder="Vyhledat příjmení"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <ng-select *ngSwitchCase="'active'" [items]="filterOptions.active" bindLabel="name" bindValue="value"  [(ngModel)]="active" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'banned'" [items]="filterOptions.banned" bindLabel="name" bindValue="value"  [(ngModel)]="banned" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'roles'" [items]="filterOptions.roles" bindLabel="name" bindValue="value" [(ngModel)]="roles" (change)="addFilter($event, col.field)"></ng-select>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td><strong>{{row.email}}</strong></td>
          <td>{{row.details?.firstName}} {{row.details?.lastName}}</td>
          <td>
          <span class="status" [ngSwitch]="row.active" [ngClass]="[row.active ? 'success' : 'error']">
            <span *ngSwitchCase="true">Aktivní</span>
            <span *ngSwitchCase="false">Neaktivní</span>
          </span>
          </td>
          <td>
          <span class="status" [ngSwitch]="row.banned" [ngClass]="[!row.banned ? 'success' : 'error']">
            <span *ngSwitchCase="true">Zakázán</span>
            <span *ngSwitchCase="false">Povolen</span>
          </span>
          </td>
          <td>
          <!--<span class="status" *ngFor="let role of row.roles" [ngClass]="{'error': role.name === 'ADMIN'}">-->
            <!--<span [ngSwitch]="role.name">-->
            <!--<span *ngSwitchCase="'USER'">U</span>-->
            <!--<span *ngSwitchCase="'CLIENT'">K</span>-->
            <!--<span *ngSwitchCase="'ADMIN'">A</span>-->
            <!--</span>-->
          <!--</span>-->
            <!--<span class="status" [ngClass]="{'disabled': !hasRole(row, Role.USER)}">Uživatel</span>-->
            <span class="status" [ngClass]="{'disabled': !hasRole(row, Role.CLIENT)}">Klient</span>
            <span class="status error" [ngClass]="{'disabled': !hasRole(row, Role.ADMIN)}">Administrátor</span>
          </td>
          <td>{{row.createdAt|date: 'dd. MM. yyyy HH:mm:ss'}}</td>
          <td class="action-column">
            <ul class="action-list">
              <li><a class="btn-xs"><span class="flaticon-pencil"></span></a></li>
              <li><a class="btn-xs"><span class="flaticon-garbage"></span></a></li>
            </ul>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
