<!--<div class="container footer-inner">-->
  <!--<div class="row nav-section">-->
    <!--<div class="col-9 px-0">-->
      <!--<nav>-->
        <!--<a routerLink="/prijimani-plateb">Přijímání plateb</a>-->
        <!--<a routerLink="/kontakt">Kontakt</a>-->
      <!--</nav>-->
    <!--</div>-->
    <!--<div class="col-3 px-0 text-right">-->
      <!--<img class="card-logos" src="../../../assets/images/card_logos.png">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row copyright-section">-->
    <!--<div class="col-12">-->
      <!--© Payvont 2018. Všechna práva vyhrazena.-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="footer-inner">
  <div class="container info">
    <div class="row nav-section">
      <div class="col-9">
        <nav>
          <a routerLink="/prijimani-plateb">Přijímání plateb</a>
          <a routerLink="/kontakt">Kontakt</a>
        </nav>
      </div>
      <div class="col-3 text-right">
        <img class="card-logos" src="../../../assets/images/card_logos.png">
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-6">
          © Payvont 2018. Všechna práva vyhrazena.
        </div>
        <div class="col-6 text-right">
          <ul class="nav-list">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
