@import "../_variables.scss";
@import "../_mixin.scss";

label {
  margin-bottom: 2px;
}

input.form-control {
  border-color: $input-border-color;
  border-radius: 0;
  height: auto;
  padding: .8rem .8rem .8rem 1.1rem;
  @include rem-fallback(font-size, 14);
  font-weight: 300;

  &:hover, &:focus {
    box-shadow: none;
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: #02a1bf;
  }
}
