@import "../_variables.scss";
@import "../_mixin.scss";

label {
  margin-bottom: 2px;
}

input.form-control {
  border-color: $input-border-color;
  border-radius: 0;
  height: auto;
  padding: .8rem .8rem .8rem 1.1rem;
  @include rem-fallback(font-size, 14);
  font-weight: 300;

  &:hover, &:focus {
    box-shadow: none;
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: #02a1bf;
  }
}

.form-check {
  padding-left: 0;

  input {
    display: none;

    &:checked + label:before {
      background-color: $primary-color;
    }
  }

  label {
    padding-left: 30px;
    line-height: 2;

    a {
      font-weight: 600;
    }

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #ffffff;
      border: 1px solid #ddd;
    }
  }
}
