<div class="container-fluid mb-5 subscriptions">
  <h2 class="page__title"><span class="page__title--disabled">Uživatel /</span> Předplatné <button class="btn refresh" (click)="reloadData()"><span class="fas fa-sync-alt"></span></button></h2>
  <div class="table-responsive">
    <p-table
      #table
      [tableStyleClass]="'table table-filter table-bordered table-hover table-striped'"
      [value]="page.content"
      [columns]="cols"
      [rows]="page.size"
      [totalRecords]="page.totalElements"
      sortField="createdAt"
      [sortOrder]="1"
      [lazy]="true"
      (onLazyLoad)="loadLazy($event)"
      [paginator]="page.totalPages > 1">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumnDisabled]="!col.sort" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
          </th>
          <th class="action">
            Akce
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'hash'" type="text" pInputText placeholder="Vyhledat hash"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <!--<input *ngSwitchCase="'appId'" type="text" pInputText placeholder="Vyhledat app id"-->
                   <!--class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">-->
            <!--<input *ngSwitchCase="'user'" type="text" pInputText placeholder="Vyhledat uživatele"-->
                   <!--class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">-->
            <ng-select *ngSwitchCase="'automaticRenew'" [items]="filterOptions.automaticRenew" bindLabel="name" bindValue="value"  [(ngModel)]="active" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'status'" [items]="filterOptions.status" bindLabel="name" bindValue="value"  [(ngModel)]="banned" (change)="addFilter($event, col.field)"></ng-select>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td><img class="client__logo" src="https://localhost:8765/client-service/applications/img/{{row.application.appId}}.png" alt="{{row.application.name}}">{{row.application.name}}</td>
          <td><a routerLink="/admin/klienti/{{row.appId}}">{{row.appId}}</a></td>
          <td><a routerLink="/admin/uzivatele/{{row.user}}">{{row.user}}</a></td>
          <td>{{row.lastSubscription?.validTo|date: 'dd. MM. yyyy HH:mm:ss'}}</td>
          <td>
          <span class="status" [ngSwitch]="row.automaticRenew" [ngClass]="[row.automaticRenew ? 'success' : 'error']">
            <span *ngSwitchCase="true">Ano</span>
            <span *ngSwitchCase="false">Ne</span>
          </span>
          </td>
          <td>
            <span class="status" [ngSwitch]="row.status" [ngClass]="{'success': row.status === 'ACTIVE', 'error': row.status === 'NOT_ACTIVE'}">
              <span *ngSwitchCase="'NEW'">Nový</span>
              <span *ngSwitchCase="'NOT_ACTIVE'">Neaktivní</span>
              <span *ngSwitchCase="'ACTIVE'">Aktivní</span>
            </span>
          </td>
          <!--<td>{{row.createdAt|date: 'dd. MM. yyyy HH:mm:ss'}}</td>-->
          <td class="action-column">
            <ul class="action-list">
              <!--<li><a class="btn-xs"><span class="fas fa-pencil-alt"></span></a></li>-->
              <!--<li><a class="btn-xs"><span class="fas fa-trash"></span></a></li>-->
            </ul>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
