@import "../abstracts/variables";
@import "../abstracts/mixin";

.box {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);

  &.box--login, &.box--activate, &.box__plugin-login {

    header h2 {
      text-align: center;
    }

    p {
      @include rem-fallback(font-size, 12);
    }

    .social-media-divider {
      position: relative;
      margin-bottom: 1.3rem;
      text-align: center;

      span {
        background: $white;
        color: $social-media-color;
        position: relative;
        z-index: 1;
        padding: 0 5px;
      }

      &:before {
        background: $social-media-delimiter-color;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }
  }

  &.box--login, &.box--activate {
    margin-left: auto;
    margin-right: auto;
  }

  &.box--activate {
    header h2 {
      margin-bottom: 1rem;
    }
  }

  &.box__plugin-login {
    width: 100%;
    max-width: 310px;
    min-width: 310px;
  }
}
