@import "../abstracts/variables";
@import "../abstracts/mixin";

.btn {

  &.btn-full {
    width: 100%;
  }

  &.btn-lg {
    @include rem-fallback(font-size, 18);
  }

  &.btn-gradient {
    @include gradient-x($button-primary-gradient-start-background, $button-primary-gradient-end-background);
    color: $white;

    &.btn-gradient--success {
      @include gradient-x($button-success-gradient-start-background, $button-success-gradient-end-background);
      border-color: $button-success-gradient-start-background;
      color: $white;

      &:focus {
        box-shadow: 0 0 0 0.2rem #06944782!important;
      }
      &:active {
        border-color: $button-success-gradient-start-background!important;
      }
    }
  }

  &.facebook {
    background-color: $facebook-background!important;;
    color: $facebook-color!important;
    border: none;
  }

  &.google {
    background-color: $google-background!important;;
    color: $google-color!important;;
    border: none;
  }
}
