@import "../abstracts/variables";
@import "../abstracts/mixin";

.btn {

  &.btn-full {
    width: 100%;
  }

  &.btn-lg {
    @include rem-fallback(font-size, 18);
  }

  &.btn-gradient {
    @include gradient-x($button-primary-gradient-start-background, $button-primary-gradient-end-background);
    color: $white;

    &.btn-gradient--success {
      @include gradient-x($button-success-gradient-start-background, $button-success-gradient-end-background);
      border-color: $button-success-gradient-start-background;
      color: $white;

      &:focus {
        //box-shadow: 0 0 0 0.2rem #06944782!important;
      }
      &:active {
        border-color: $button-success-gradient-start-background!important;
      }
    }
  }

  &.btn--loading {
    position: relative;
    z-index: 4;
    opacity: .8;

    .btn-loader .loader-stick {
      background-color: $white;
    }
  }

  &.facebook {
    background-color: $facebook-background!important;;
    color: $facebook-color!important;
    border: none;
  }

  &.google {
    background-color: $google-background!important;;
    color: $google-color!important;;
    border: none;
  }

  &.refresh {
    background: none;
    border: none;
    @include rem-fallback(font-size, 17);
    color: $refresh-button-color;
    transition: .1s all ease;

    &:hover, &:focus, &:active {
      background: none;
      box-shadow: none;
      color: $refresh-button-hover-color;
      animation: spin 1s;
      animation-timing-function: linear;
      outline: none;
    }
  }
}
