@import "../abstracts/variables";
@import "../abstracts/mixin";

label {
  margin-bottom: 2px;
  transition: color .2s ease;

  &.control-label {
    font-weight: 600;
  }

  .required {
    color: $input-error-color;
  }
}

input.form-control, .custom-file label {
  border-color: $input-border-color;
  border-radius: 0;
  height: auto;
  padding: .8rem .8rem .8rem 1.1rem;
  @include rem-fallback(font-size, 14);
  font-weight: 400;

  &:hover, &:focus {
    box-shadow: none;
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: $input-border-focus-color;
  }
}

textarea.form-control.code {
  min-height: 222px
}

.form-check {
  padding-left: 0;

  input {
    display: none;

    & + label:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%) scale(0);
      background: none;
      background: $primary-color;
      transition: all .2s ease;
      //border: 1px solid #bdc3c7;
    }

    &:checked {
      & + label:before {
        //background-color: $primary-color;
        //border: none;
      }

      & + label:after {
        transform: translateY(-50%) scale(.6);
      }
    }


    &[type='radio'] {
      & + label {
        &:before, &:after {
          border-radius: 50%;
        }
      }
    }

    &[disabled] + label {
      pointer-events: none;
      opacity: 0.4;
    }

    &.form-check--active:checked + label:after {
      background: $success-color;
    }

    &.form-check--nonactive:checked + label:after {
      background: $danger-color;
    }
  }

  label {
    padding-left: 30px;
    line-height: 1.2;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
      font-weight: 600;
    }

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #ffffff;
      border: 1px solid #bdc3c7;
    }
  }
}

.custom-file {
  height: auto;

  input {
    height: auto;
    padding: .8rem .8rem .8rem 1.1rem;
    outline: 0;
    box-shadow: none;

    &:focus ~ label, &:focus ~ label:after {
      box-shadow: none!important;
      border-color: $input-border-focus-color!important;
    }
  }

  label {
    outline: 0;

    &:after {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &:hover label {
    box-shadow: none;
    border-color: $input-border-hover-color;
  }
}

.switcher {
  padding-left: 50px;

  .switcher-input {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  .switcher-label {
    @include rem-fallback(font-size, 13);
  }

  .switcher-indicator {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 38px;
    height: 22px;
    //font-size: .625rem;
    line-height: 1.375rem;
    background-color: $switcher-unchecked-background;
    transition: background .2s ease-in-out;

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
      background-color: $switcher-slider-background;
      transition: left .2s ease-in-out;
    }
  }

  .switcher-input:checked ~ .switcher-indicator {
    background: $switcher-checked-background;
    color: $switcher-color;

    &:after {
      left: 19px;
    }
  }

  .switcher-input:not(:checked) ~ .switcher-indicator:after {
    box-shadow: 0 0 0 1px rgba(24,28,33,0.04), 0 1px 6px rgba(24,28,33,0.09);
  }

  .switcher-indicator--rounded {
    border-radius: 10px;

    &:after {
      border-radius: 50%;
    }
  }
}
