@import "../abstracts/variables";

#spinner {
  opacity: 1!important;
  background-color: rgba(255,255,255, 0.7)!important;

  span.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-left-color: $primary-color;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;

    z-index: 100001;
  }
}

.btn-loader, .loader {
  .loader-stick {
    display: inline-block;
    width: 4px;
    height: 10px;
    background-color: black;
    margin-right: 2px;
    -webkit-animation: loading 1s ease-in-out infinite;
    animation: loading 1s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.09s;
    }
    &:nth-child(3) {
      animation-delay: 0.18s;
    }
  }
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader .loader-stick {
    background-color: #333333;
  }
}

