@import "../abstracts/variables";
@import "../abstracts/mixin";

.table-filter {
  background-color: #ffffff;

  th {
    @include rem-fallback(font-size, 13);
    text-transform: uppercase;
    color: #000000;
  }

  th, td {
    padding: 1rem;
  }

  .ui-sortable-column {
    cursor: pointer;
    position: relative;

    .ui-table-sort-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);

      .ui-sortable-column-icon {
        padding: 0;
        display: inline-block;
        font-family: Flaticon;
        font-style: normal;
        @include rem-fallback(font-size, 10);
        line-height: 1;
      }
      .pi-sort-down:before {
        content: "\f116";
      }
      .pi-sort-up:before {
        content: "\f117";
      }
    }
  }

  th.action {
    text-align: center;
  }

  tr.expanded {
    background-color: $table-row-expanded-background!important;
    color: $table-row-expanded-color!important;

    td {
      border-color: $table-row-expanded-background;

      a {
        color: $table-row-expanded-color;
        text-decoration: underline;
      }
    }

    & + tr {
      background-color: #ffffff;
    }
  }

  .status {
    padding: 3px 8px;
    text-align: center;
    font-weight: 600;
    @include rem-fallback(font-size, 11);
    border: 2px solid;
    text-transform: uppercase;
    cursor: pointer;

    & + .status {
      margin-left: 2px;
    }

    &.success {
      color: $success-color;
    }

    &.warning {
      color: $warning-color;
    }

    &.info {
      color: $info-color;
    }

    &.error {
      color: $danger-color;
    }

    &.disabled {
      color: rgba(0, 0, 0, 0.2);

      &:hover {
        color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }

  .action-column {
    padding: 0.5rem 1rem;

    .action-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        & + li {
          margin-left: 8px;
        }
      }

      span:before {
        margin: 0;
        @include rem-fallback(font-size, 19);
      }
    }
  }
}

.ui-paginator {
  text-align: center;
  .ui-paginator-element {
    position: relative;
    display: inline-block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

}
