<div class="container-fluid dashboard">
  <h2 class="page__title">Přehled aplikace
    <div class="page__subtitle">
      <span class="text-muted">Období: leden 2019</span>
    </div>
  </h2>
  <div class="row">
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-money-bill-alt text-success"></div>
            <div class="ml-4">
              <div class="sales-title">Prodeje za období</div>
              <div class="sales-number" counto [step]="30" [countTo]="3521" [countFrom]="0" [duration]="1.25" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">{{counto|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-money-bill-alt text-success"></div>
            <div class="ml-4">
              <div class="sales-title">Monthly sales</div>
              <div class="sales-number" counto [step]="30" [countTo]="3521" [countFrom]="0" [duration]="1.25" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">{{counto|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-money-bill-alt text-success"></div>
            <div class="ml-4">
              <div class="sales-title">Monthly sales</div>
              <div class="sales-number" counto [step]="30" [countTo]="3521" [countFrom]="0" [duration]="1.25" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">{{counto|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-money-bill-alt text-success"></div>
            <div class="ml-4">
              <div class="sales-title">Monthly sales</div>
              <div class="sales-number" counto [step]="30" [countTo]="3521" [countFrom]="0" [duration]="1.25" (countoChange)="counto = $event" (countoEnd)="onCountoEnd()">{{counto|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
