<div class="container-fluid dashboard">
  <h2 class="page__title"><span class="page__title--disabled">{{statistics ? statistics.name : 'Stránka'}} /</span> Přehled <button (click)="loadData()" class="btn refresh"><span class="fas fa-sync-alt"></span></button>
    <div class="page__subtitle">
      <span class="text-muted">Období - <span class="subtitle--dashed">Únor 2019</span></span>
    </div>
  </h2>
  <div class="row">
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-dollar-sign text-success"></div>
            <div class="ml-4">
              <div class="sales-title">Tržby</div>
              <div class="sales-number" counto [step]="30" [countTo]="statistics ? statistics.total.price.amount : 0" [countFrom]="0" [duration]="1.25" (countoChange)="counters.totalPrice = $event">{{counters.totalPrice|number:'1.0-0'|price: statistics?.total?.price.currency}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-shopping-cart text-info"></div>
            <div class="ml-4">
              <div class="sales-title">Prodeje</div>
              <div class="sales-number" counto [step]="30" [countTo]="statistics ? statistics.total.sales : 0" [countFrom]="0" [duration]="1.25" (countoChange)="counters.sales = $event">{{counters.sales|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-money-bill-alt text-danger"></div>
            <div class="ml-4">
              <div class="sales-title">Průměr transakce</div>
              <div class="sales-number" counto [step]="30" [countTo]="statistics ? statistics.total.averagePrice.amount : 0" [countFrom]="0" [duration]="1.25" (countoChange)="counters.averagePrice = $event">{{counters.averagePrice|number:'1.0-0'|price: statistics?.total?.price.currency}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="fas fa-users text-warning"></div>
            <div class="ml-4">
              <div class="sales-title">Uživatelé</div>
              <div class="sales-number" counto [step]="30" [countTo]="statistics ? statistics.total.uniqueSales : 0" [countFrom]="0" [duration]="1.25" (countoChange)="counters.uniqueSales = $event">{{counters.uniqueSales|number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <h6 class="card-header">
          Vývoj za období
        </h6>
        <div class="row">
        <div class="col-8">
          <div class="card-body card-body--border-right">
            <div class="chart__wrapper" *ngIf="chart">
              <span class="axis-label axis-label__y">Výše prodejů</span>
              <span class="axis-label axis-label__x">Den v měsíci</span>
              <canvas id="canvas">{{ chart }}</canvas>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-xl-5 text-muted mb-3">Total sales</div>
              <div class="col-6 col-xl-7 mb-3">
                <span class="text-big">10,332</span>
                <sup class="text-success">+12%</sup>
              </div>
              <div class="col-6 col-xl-5 text-muted mb-3">Income amount</div>
              <div class="col-6 col-xl-7 mb-3">
                <span class="text-big">$1,534</span>
                <sup class="text-danger">-5%</sup>
              </div>
              <div class="col-6 col-xl-5 text-muted mb-3">Total budget</div>
              <div class="col-6 col-xl-7 mb-3">
                <span class="text-big">$10,534</span>
                <sup class="text-success">+12%</sup>
              </div>
              <div class="col-6 col-xl-5 text-muted mb-3">Page views</div>
              <div class="col-6 col-xl-7 mb-3">
                <span class="text-big">21,332</span>
                <sup class="text-danger">-12%</sup>
              </div>
              <div class="col-6 col-xl-5 text-muted mb-3">Completed tasks</div>
              <div class="col-6 col-xl-7 mb-3">
                <span class="text-big">12</span>
                <sup class="text-success">+12%</sup>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
