<div class="container-fluid mb-5">
  <h2 class="page__title"><span class="page__title--disabled">Uživatel /</span> Platby <button class="btn refresh" (click)="reloadData()"><span class="fas fa-sync-alt"></span></button></h2>
  <div class="table-responsive">
    <p-table
      #table
      [tableStyleClass]="'table table-filter table-bordered table-hover table-striped'"
      [value]="page.content"
      [columns]="cols"
      [rows]="page.size"
      [totalRecords]="page.totalElements"
      sortField="createdAt"
      [sortOrder]="1"
      [lazy]="true"
      (onLazyLoad)="loadLazy($event)"
      [paginator]="page.totalPages > 1"
      dataKey="hash">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumnDisabled]="!col.sort" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
          </th>
          <th class="action">
            Akce
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <!--<input *ngSwitchCase="'hash'" type="text" pInputText placeholder="Vyhledat hash"-->
                   <!--class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">-->
            <input *ngSwitchCase="'appId'" type="text" pInputText placeholder="Vyhledat app id"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <input *ngSwitchCase="'user'" type="text" pInputText placeholder="Vyhledat uživatele"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <ng-select *ngSwitchCase="'automaticRenew'" [items]="filterOptions.automaticRenew" bindLabel="name" bindValue="value"  [(ngModel)]="active" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'status'" [items]="filterOptions.status" bindLabel="name" bindValue="value"  [(ngModel)]="banned" (change)="addFilter($event, col.field)"></ng-select>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
        <tr [ngClass]="{'expanded': expanded}" [pRowToggler]="row">
          <!--<td><strong>{{row.hash}}</strong></td>-->
          <td>{{row.application?.name}}</td>
          <td>{{test(row.products)}}</td>
          <td>{{row.price?.amount|price:row.price.currency}}</td>
          <td>
            <span class="status" [ngSwitch]="row.status" [ngClass]="{'success': row.status === 'PAID', 'error': row.status === 'NOT_ACTIVE'}">
              <span *ngSwitchCase="'NEW'">Nový</span>
              <span *ngSwitchCase="'PAID'">Zaplaceno</span>
              <span *ngSwitchCase="'NOT_ACTIVE'">Neaktivní</span>
              <span *ngSwitchCase="'ACTIVE'">Aktivní</span>
            </span>
          </td>
          <td>{{row.createdAt|date: 'dd. MM. yyyy HH:mm:ss'}}</td>
          <td class="action-column">
            <ul class="action-list">
              <!--<li><a class="btn-xs"><span class="fas fa-pencil-alt"></span></a></li>-->
              <!--<li><a class="btn-xs"><span class="fas fa-trash"></span></a></li>-->
            </ul>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-row let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <table class="table table-filter table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Produkt</th>
                <th>Typ</th>
                <th>Cena</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of row.products">
                <td><strong>{{product.name}}</strong></td>
                <td>
                  <span class="">
                      <ng-container [ngSwitch]="product.type">
                        <ng-container *ngSwitchCase="Service.SUBSCRIPTION.toUpperCase()">Předplatné</ng-container>
                        <ng-container *ngSwitchCase="Service.DONATION.toUpperCase()">Dar</ng-container>
                      </ng-container>
                    </span>
                </td>
                <td>{{product.price?.amount|price:product.price.currency}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
