<div class="container-fluid mb-5">
  <h2 class="page__title"><span class="page__title--disabled">Administrace /</span> Klienti</h2>
  <div class="table-responsive">
    <p-table
      #table
      [tableStyleClass]="'table table-filter table-bordered table-hover table-striped'"
      [value]="page.content"
      [columns]="cols"
      [rows]="page.size"
      [totalRecords]="page.totalElements"
      sortField="createdAt"
      [sortOrder]="-1"
      [lazy]="true"
      (onLazyLoad)="loadLazy($event)"
      [paginator]="page.totalPages > 1"
      dataKey="id">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="action">
            Akce
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'details.company'" type="text" pInputText placeholder="Vyhledat doménu"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <input *ngSwitchCase="'details.contactPerson.lastName'" type="text" pInputText placeholder="Vyhledat příjmení"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <input *ngSwitchCase="'details.contactPerson.email'" type="text" pInputText placeholder="Vyhledat e-mail"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <ng-select *ngSwitchCase="'active'" [items]="filterOptions.active" bindLabel="name" bindValue="value"  [(ngModel)]="active" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'banned'" [items]="filterOptions.banned" bindLabel="name" bindValue="value"  [(ngModel)]="banned" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'roles'" [items]="filterOptions.roles" bindLabel="name" bindValue="value" [(ngModel)]="roles" (change)="addFilter($event, col.field)"></ng-select>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-expanded="expanded" let-columns="columns">
        <tr [ngClass]="{'expanded': expanded}" [pRowToggler]="row">
          <td><strong [title]="row.details ? row.details.company +(row.details.dic ? ' (DIČ: ' +row.details.dic + ')' : '') +(row.details.ico ? ' (IČO: ' +row.details.ico + ')' : ''): ''">{{row.details?.company}}</strong></td>
          <td><span *ngIf="row.details?.contactPerson">{{row.details.contactPerson.firstName}} {{row.details.contactPerson.lastName}}</span></td>
          <td><span *ngIf="row.details?.contactPerson">{{row.details.contactPerson.email}}</span></td>
          <td>{{row.applications.length}}</td>
          <td><a routerLink="/admin/uzivatele/{{row.user}}">{{row.user}}</a></td>
          <td>{{row.createdAt|date: 'dd. MM. yyyy HH:mm:ss'}}</td>
          <td class="action-column">
            <ul class="action-list">
              <li><a class="btn-xs"><span class="fas fa-pencil-alt"></span></a></li>
              <li><a class="btn-xs"><span class="fas fa-trash"></span></a></li>
            </ul>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-row let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <table class="table table-filter table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Doména</th>
                <th>App ID</th>
                <th>Stav</th>
                <th>Služby</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of row.applications">
                  <td><strong>{{application.domain}}</strong></td>
                  <td>{{application.appId}}</td>
                  <td>
                    <span class="status" [ngSwitch]="application.active" [ngClass]="[application.active ? 'success' : 'error']">
                      <span *ngSwitchCase="true">Aktivní</span>
                      <span *ngSwitchCase="false">Neaktivní</span>
                    </span>
                  </td>
                  <td>
                    <span class="status info" *ngFor="let service of application.configurations" title="Donatio">
                      <ng-container [ngSwitch]="service.type">
                        <ng-container *ngSwitchCase="Service.SUBSCRIPTION">Předplatné</ng-container>
                        <ng-container *ngSwitchCase="Service.DONATION">Donation</ng-container>
                      </ng-container>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
