<div class="container-fluid settings">
  <h2 class="page__title"><span class="page__title--disabled">{{application?.name}} /</span> Nastavení</h2>
  <div class="row">
    <div class="col-12">
      <pv-alerts></pv-alerts>
      <div class="row">
        <div class="col">
          <div class="card mb-4">
            <h6 class="card-header">
              {{activeTab.title}}
            </h6>

            <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
              <div class="card-body">
                <pv-tabs [icons]="true" [defaultVisible]="4" (onTabChange)="onTabChange($event)" #tabs>
                  <pv-tab title="Příspěvky" type="donation" icon="fas fa-donate" #t1>
                    <fieldset>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group form-delimiter pb-4 mt-2" [ngClass]="{'has-error': donationForm.controls['active'].invalid && donationForm.controls['active'].dirty}">
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--active" id="donation_active" (change)="toggleDisabledState(true)" [value]="true" [formControl]="donationForm.controls['active']">
                              <label for="donation_active">Aktivní</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--nonactive" id="donation_nonactive" (change)="toggleDisabledState(false)" [value]="false" [formControl]="donationForm.controls['active']">
                              <label for="donation_nonactive">Neaktivní</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </pv-tab>
                  <pv-tab title="Předplatné" type="subscription" icon="fas fa-redo-alt" [disabled]="false" #t2>
                    <fieldset>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group form-delimiter pb-4 mt-2" [ngClass]="{'has-error': subscriptionForm.controls['active'].invalid && subscriptionForm.controls['active'].dirty}">
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--active" name="subscription_active" id="subscription_active" (change)="toggleDisabledState(true)" [value]="true" [formControl]="subscriptionForm.controls['active']">
                              <label for="subscription_active">Aktivní</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--nonactive" name="subscription_active" id="subscription_nonactive" (change)="toggleDisabledState(false)" [value]="false" [formControl]="subscriptionForm.controls['active']">
                              <label for="subscription_nonactive">Neaktivní</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group form-check mt-2" [ngClass]="{'has-error': subscriptionForm.controls['checkOnLoad'].invalid && subscriptionForm.controls['checkOnLoad'].dirty}">
                            <input type="checkbox" name="checkOnLoad" id="checkOnLoad" class="" [formControl]="subscriptionForm.controls['checkOnLoad']">
                            <label for="checkOnLoad" class="form-check-label">
                              Kontrolovat předplatné po načtení
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group form-check mt-2" [ngClass]="{'has-error': subscriptionForm.controls['popupOnLoad'].invalid && subscriptionForm.controls['popupOnLoad'].dirty}">
                            <input type="checkbox" name="popupOnLoad" id="popupOnLoad" class="" [formControl]="subscriptionForm.controls['popupOnLoad']">
                            <label for="popupOnLoad" class="form-check-label" >
                              Vyskakování okna po načtení stránky
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group form-check mt-2" [ngClass]="{'has-error': subscriptionForm.controls['closable'].invalid && subscriptionForm.controls['closable'].dirty}">
                            <input type="checkbox" name="closable" id="closable" class="" [formControl]="subscriptionForm.controls['closable']">
                            <label for="closable" class="form-check-label" >
                              Umožnit návštěvníkům zavření vyskakovacího okna
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </pv-tab>
                  <pv-tab title="Placený obsah" type="paid-content" icon="fas fa-pen-nib" [disabled]="true" #t3>
                    <fieldset>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group form-delimiter pb-4 mt-2" [ngClass]="{'has-error': paidContentForm.controls['active'].invalid && paidContentForm.controls['active'].dirty}">
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--active" name="paid-content_active" id="paid-content_active" [value]="true" [formControl]="paidContentForm.controls['active']">
                              <label for="paid-content_active">Aktivní</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check--nonactive" name="paid-content_active" id="paid-content_nonactive" [value]="false" [formControl]="paidContentForm.controls['active']">
                              <label for="paid-content_nonactive">Neaktivní</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </pv-tab>
                </pv-tabs>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group text-right mb-0">
                      <input type="submit" class="btn btn-primary" value="Uložit" [hidden]="activeTab !== t1" [disabled]="donationForm.invalid">
                      <input type="submit" class="btn btn-primary" value="Uložit" [hidden]="activeTab !== t2" [disabled]="subscriptionForm.invalid">
                      <input type="submit" class="btn btn-primary" value="Uložit" [hidden]="activeTab !== t3" [disabled]="paidContentForm.invalid">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <h6 class="card-header">
              Kód pro vložení do stránky
            </h6>
            <div class="card-body">
              <textarea pvEditor class="form-control code">{{snippetCode}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
