<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    #snav
    [mode]="'side'"
    [fixedInViewport]="true">

    <mat-nav-list *ngFor="let section of navSections">

      <h2 matSubheader> {{section.title}} </h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>
      <a *ngFor="let link of section.links"
         mat-list-item
         (click)="snav.close()"
         [routerLink]="[link.route]"
         routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ link.icon }}</mat-icon>
        {{link.title}}
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <pv-header [adminSection]="true"></pv-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
