<div class="container-fluid mb-5 mt-3">
  <div class="table-responsive">
    <p-table
      #table
      [tableStyleClass]="'table table-filter table-bordered table-hover table-striped'"
      [value]="page.content"
      [columns]="cols"
      [rows]="page.size"
      [totalRecords]="page.totalElements"
      sortField="createdAt"
      [sortOrder]="1"
      [lazy]="true"
      (onLazyLoad)="loadLazy($event)"
      [paginator]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="action">
            Akce
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'domain'" type="text" pInputText placeholder="Vyhledat doménu"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <input *ngSwitchCase="'name'" type="text" pInputText placeholder="Vyhledat název"
                   class="form-control has-icon" (keyup.enter)="addFilter($event.target.value, col.field)">
            <ng-select *ngSwitchCase="'automaticRenew'" [items]="filterOptions.automaticRenew" bindLabel="name" bindValue="value"  [(ngModel)]="active" (change)="addFilter($event, col.field)"></ng-select>
            <ng-select *ngSwitchCase="'status'" [items]="filterOptions.status" bindLabel="name" bindValue="value"  [(ngModel)]="banned" (change)="addFilter($event, col.field)"></ng-select>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td><strong>{{row.hash}}</strong></td>
          <td>{{row.appId}}</td>
          <td>
          <span class="status" [ngSwitch]="row.automaticRenew" [ngClass]="[row.automaticRenew ? 'success' : 'error']">
            <span *ngSwitchCase="true">Ano</span>
            <span *ngSwitchCase="false">Ne</span>
          </span>
          </td>
          <td>
          <span class="status" [ngSwitch]="row.status" [ngClass]="[row.status ? 'success' : 'error']">
            <span *ngSwitchCase="'NOT_ACTIVE'">Vytvořeno</span>
            <span *ngSwitchCase="false">Povolen</span>
          </span>
          </td>
          <td>

          </td>
          <td>{{row.createdAt|date: 'dd. MM. yyyy HH:mm:ss'}}</td>
          <td class="action-column">
            <ul class="action-list">
              <li><a class="btn-xs"><span class="flaticon-pencil"></span></a></li>
              <li><a class="btn-xs"><span class="flaticon-garbage"></span></a></li>
            </ul>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
