.plugin-application {

  .box__plugin-login {
    min-width: 100%;
    max-width: 100%;
  }

  .client, .user, .payment__info {
    border-bottom: 1px solid #eeeeee;
  }

  .user, .payment__info {
    padding: 15px 0;
  }

  .client {
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
  }

  .client__logo {
    max-height: 40px;
    max-width: 100%;
  }

  .user {

    .user__name {
      word-wrap: break-word;
      line-height: 1;
      margin-bottom: 0;

      /* Test */
      font-family: $sidebar-font;
      font-weight: 100;
      @include rem-fallback(font-size, 20);
    }

    h2 > small {
      display: block;
      @include rem-fallback(font-size, 12);
      margin-top: 5px;
    }
  }

  .payment__info {
    table {
      table-layout: fixed;
      width: 100%;

      .payment--strong {
        font-weight: 600;
      }

      .payment--ellipsis {
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td {
        padding-bottom: 3px;
      }

      @include media-breakpoint-down(xs) {
        thead th:not(:first-child) {
          display: none;
        }

        td, th {
          display: block;
          text-align: left!important;
        }
      }
    }
  }

  .payment__form {
    padding-top: 10px;
    padding-bottom: 15px;

    .order-submit {
      @include rem-fallback(font-size, 20);
      font-weight: 100;
    }
  }
}
