.dashboard {

  .card {

    .fas {
      @include rem-fallback(font-size, 25);
    }

    .sales-title {
      color: #a3a4a6;
      @include rem-fallback(font-size, 12);
      font-weight: 400;
    }
    .sales-number {
      @include rem-fallback(font-size, 22);
      font-weight: 400;
    }
  }
}
