.dashboard {
  .card-body.card-body--border-right {
    border-right: 1px solid rgba(24, 28, 33, 0.06);
  }

  .refresh-button {
    background: none;
    border: none;
    @include rem-fallback(font-size, 17);
    color: $refresh-button-color;
    transition: .1s all ease;

    &:hover, &:focus, &:active {
      background: none;
      box-shadow: none;
      color: $refresh-button-hover-color;
      animation: spin 1s;
      animation-timing-function: linear;
      outline: none;
    }
  }

  .chart__wrapper {
    position: relative;
    height: 290px;
    padding: 25px;

    .axis-label {
      position: absolute;
      color: $chart-label-color;
      font-family: $sidebar-font;

      &.axis-label__y {
        top: 50%;
        left: -15px;
        transform: rotate(-90deg) translateY(-50%);
      }
      &.axis-label__x {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }
}
