.plugin-content {

  .payment__header, .payment__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .payment__header {
    position: relative;

    .payment__heading {
      font-weight: 600;
      @include rem-fallback(font-size, 31);
      font-family: $sidebar-font;
      padding: 21px;
      margin-bottom: 0;
      line-height: 1;

      &.payment__heading--gradient {
        @include gradient-x($plugin-gradient-start-color, $plugin-gradient-end-color);
        color: $white;
      }
    }

    .payment__back {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: $white;
      z-index: 2;

      .fas:before {
        @include rem-fallback(font-size, 20);
      }
    }
  }


  .payment__content {
    padding: 15px;
    flex: 1;

    h2 {
      font-weight: 600;
      @include rem-fallback(font-size, 28);
      font-family: $sidebar-font;
      color: #14667e;
    }

    p {
      @include rem-fallback(font-size, 15);
      font-weight: 100;
    }

    p + h2 {
      margin: 0;
    }
  }

  .payment__action {
    padding: 0 15px 15px;

    .btn {
      padding: 13px 15px;
      @include rem-fallback(font-size, 15);
      text-align: left;

      &.btn-outline-secondary:hover {
        border-color: darken($secondary, 25%);
        color: darken($secondary, 25%)
      }

      &.btn-outline-info:hover {
        border-color: $button-primary-gradient-start-background;
        color: $button-primary-gradient-start-background;
      }

      &.btn-cta {
        @include rem-fallback(font-size, 20);
        font-weight: 100;
        text-align: center;
        margin-bottom: 15px;
      }

      &:not(.btn-cta):hover {
        background: none;
      }

      .fas {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

}
