<div class="container-fluid mb-5 mt-3 my-account">
  <h2 class="page__title">Můj účet
    <button class="btn refresh"><span class="fas fa-sync-alt"></span></button>
  </h2>
  <div class="row no-gutters">
    <div class="col-12">
      <pv-alerts></pv-alerts>
    </div>
  </div>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-3 pt-0 col-delimiter-right">
        <div class="list-group list-group-flush account-settings-links">
          <a class="list-group-item btn list-group-item-action" [ngClass]="{'active show': tab.active, 'disabled': tab.disabled}"
             *ngFor="let tab of tabs" (click)="selectTab(tab)">{{tab.title}}</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade" #general [ngClass]="{'active show': tabs[0].active}">
            <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
              <div class="card-body media align-items-center">
                <img src="https://via.placeholder.com/80x80" alt="" *ngIf="!appImg" class="user-avatar">
                <img [src]="appImg" class="user-avatar" alt="" title="" *ngIf="appImg">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" (change)="onSelectFile($event)">
                  </label> &nbsp;
                  <button type="button" class="btn btn-outline-secondary" (click)="removeImage()">Reset</button>

                  <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group"
                     [ngClass]="{'has-error':userInfoForm.controls['firstName'].invalid && userInfoForm.controls['firstName'].dirty}">
                  <label class="control-label" for="firstName">Jméno <span class="required">*</span></label>
                  <input id="firstName" type="text" class="form-control"
                         [formControl]="userInfoForm.controls['firstName']">
                  <div class="validation-message text-right"
                       *ngIf="userInfoForm.get('firstName').invalid && userInfoForm.get('firstName').dirty">
                            <span *ngIf="userInfoForm.get('firstName').errors.required">
                               <span>Pole není vyplněno.</span>
                            </span>
                  </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': userInfoForm.controls['lastName'].invalid && userInfoForm.controls['lastName'].dirty}">
                  <label class="control-label" for="lastName">Příjmení <span class="required">*</span></label>
                  <input id="lastName" type="text" class="form-control"
                         [formControl]="userInfoForm.controls['lastName']">
                  <div class="validation-message text-right"
                       *ngIf="userInfoForm.get('lastName').invalid && userInfoForm.get('lastName').dirty">
                            <span *ngIf="userInfoForm.get('lastName').errors.required">
                               <span>Pole není vyplněno.</span>
                            </span>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':userInfoForm.controls['email'].invalid && userInfoForm.controls['email'].dirty}">
                  <label class="control-label" for="email">E-mail <span class="required">*</span></label>
                  <input id="email" type="text" class="form-control" [formControl]="userInfoForm.controls['email']">
                  <div class="validation-message text-right"
                       *ngIf="userInfoForm.get('email').invalid && userInfoForm.get('email').dirty">
                            <span *ngIf="userInfoForm.get('email').errors.required">
                               <span>Pole není vyplněno.</span>
                            </span>
                  </div>
                </div>
                <div class="alert alert-warning mt-3">
                  Váš e-mail nebyl ověřen. Ověřte, prosím, svůj e-mail kliknutím na odkaz v zaslaném e-mailu.<br>
                  <a href="">Odeslat ověření</a>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" #password [ngClass]="{'active show': tabs[1].active}">
            <div class="card-body pb-2">
              <div class="form-group"
                   [ngClass]="{'has-error':passwordForm.get('currentPassword').invalid && passwordForm.get('currentPassword').dirty}">
                <label class="control-label" for="currentPassword">Současné heslo</label>
                <input class="form-control" id="currentPassword" placeholder="Heslo" type="password"
                       [formControl]="passwordForm.get('currentPassword')">
                <div class="validation-message"
                     *ngIf="passwordForm.get('currentPassword').invalid && passwordForm.get('currentPassword').dirty">
                  <span *ngIf="passwordForm.get('currentPassword').hasError('required')">Pole není vyplněno.</span>
                  <span *ngIf="!passwordForm.get('currentPassword').hasError('required')">
                </span>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').dirty}">
                <label class="control-label" for="newPassword">Nové heslo</label>
                <input class="form-control" id="newPassword" placeholder="Heslo" type="password"
                       [formControl]="passwordForm.get('newPassword')">
                <div class="validation-message"
                     *ngIf="passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').dirty">
                  <span *ngIf="passwordForm.get('newPassword').hasError('required')">Pole není vyplněno.</span>
                  <span *ngIf="!passwordForm.get('newPassword').hasError('required')">
                   <span *ngIf="passwordForm.get('newPassword').hasError('minlength')">Heslo musí obsahovat alespoň 8 znaků.</span>
                </span>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':passwordForm.get('newPasswordConfirm').invalid && passwordForm.get('newPasswordConfirm').dirty}">
                <label class="control-label" for="newPasswordConfirm">Nové heslo znovu</label>
                <input class="form-control" id="newPasswordConfirm" placeholder="Heslo" type="password"
                       [formControl]="passwordForm.get('newPasswordConfirm')">
                <div class="validation-message"
                     *ngIf="passwordForm.get('newPasswordConfirm').invalid && passwordForm.get('newPasswordConfirm').dirty">
                  <span *ngIf="passwordForm.get('newPasswordConfirm').hasError('required')">Pole není vyplněno.</span>
                  <span *ngIf="passwordForm.get('newPasswordConfirm').hasError('matchFields')">Hesla nesouhlasí.</span>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" #connections [ngClass]="{'active show': tabs[2].active}">
            <div class="card-body">
              <pv-social-media [type]="'twitter'" [linked]="social.twitter"
                               [email]="'twitter@twitter.com'"
                               (onStatusChange)="onStatusChange($event)"></pv-social-media>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <pv-social-media [type]="'google'" [linked]="social.google"
                               [email]="'google@google.com'"
                               (onStatusChange)="onStatusChange($event)"></pv-social-media>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <pv-social-media [type]="'facebook'" [linked]="social.facebook"
                               [email]="'facebook@facebook.com'"
                               (onStatusChange)="onStatusChange($event)"></pv-social-media>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <pv-social-media [type]="'instagram'" [linked]="social.instagram"
                               [email]="'instagram@instagram.com'"
                               (onStatusChange)="onStatusChange($event)"></pv-social-media>
            </div>
          </div>
          <div class="tab-pane fade" #notifications [ngClass]="{'active show': tabs[3].active}">
            <div class="card-body pb-2">
              <h6 class="mb-4">Activity</h6>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator switcher-indicator--rounded"></span>
                  <span class="switcher-label">Email me when someone comments on my article</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                            </span>
                  <span class="switcher-label">Email me when someone answers on my forum thread</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                            </span>
                  <span class="switcher-label">Email me when someone follows me</span>
                </label>
              </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body pb-2">

              <h6 class="mb-4">Application</h6>

              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                            </span>
                  <span class="switcher-label">News and announcements</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                            </span>
                  <span class="switcher-label">Weekly product updates</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                              <span class="switcher-yes"></span>
                              <span class="switcher-no"></span>
                            </span>
                  <span class="switcher-label">Weekly blog digest</span>
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-3">
    <button type="button" class="btn btn-lg btn-primary" *ngIf="tabs[0].active"
            (click)="onSubmit('user_data', userInfoForm.value)" [disabled]="userInfoForm.invalid">Uložit údaje
    </button>
    <button type="button" class="btn btn-lg btn-primary" *ngIf="tabs[1].active"
            (click)="onSubmit('user_password', passwordForm.value)" [disabled]="passwordForm.invalid">Změnit heslo
    </button>
    <button type="button" class="btn btn-lg btn-primary" *ngIf="tabs[3].active"
            (click)="onSubmit('user_notifications', notificationForm.value)" [disabled]="notificationForm.invalid">
      Uložit nastavení
    </button>
  </div>

</div>
