<section class="homepage-carousel">
      <div class="overlay"></div>
      <div class="bg-image" style="background-image: url(../../../assets/images/banner_1920.jpg)"></div>
      <!--<div class="bg-image" style="background-image: url(https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/1200x800/27-min.jpg)"></div>-->
      <!--<div class="bg-image" style="background-image: url(../../../assets/images/main-1.jpg)"></div>-->
      <div class="container carousel-caption col-5">
        <!--<h1>Kvalitní obsah <br /> není samozřejmost</h1>-->
        <span class="pre-title">Lorem ipsum</span>
        <h1>Welcome to Smarty</h1>
        <!--<p>S námi za něj můžete platit snadno, rychle a bezpečně.</p>-->
        <p>Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>

        <a class="btn btn-primary cta btn-xl">Vyzkoušet</a>
        <!--<span class="cta-description">Připojte svůj web do programu.</span>-->
      </div>
</section>
<section class="homepage-content">
  <section class="title-section">
    <div class="container">
      <div class="text-center">
        <h1 class="mb-0">CREATIVE <span>WEB</span> AGENCY</h1>
        <h2 class="col-sm-10 offset-sm-1 mb-0 fw-300 text-muted fs-20">Specializes in creating Brand Identity for emerging Startups</h2>
      </div>
    </div>
  </section>
  <section class="column-section">
    <div class="container">
      <div class="row">
        <!--<div class="col-md-6 order-last order-md-first v-a-center">-->
          <!--<h2>Služby Payvont Vám umožní platit za internetový obsah snadno, rychle a bezpečně.</h2>-->
          <!--<p>Žádné nabíjení účtu, žádné minimální měsíční platby, žádné přihlašování na každé stránce zvlášť. S naší službou platíte pouze co chcete a kdy chcete.</p>-->
          <!--<p>Vše pouhým jedním kliknutím s jedním propojeným účtem. Díky zapamatovatelné platební kartě placení nikdy nebylo jednodušší.</p>-->
          <!--<a href="" class="btn btn-primary">Zjistit více</a>-->
          <!---->
        <!--</div>-->

        <div class="col-md-6 col-sm-6 order-last order-md-first">
          <header class="mb-60">
            <h1 class="m-0">Analytics Data Statistics</h1>
            <p >We truly care about our customers</p>
          </header>
          <p>Research heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          <a href="#">
            Read more
          </a>
        </div>

        <div class="col-md-6 order-first order-md-last text-center">
          <img src="../../../assets/images/02.png" class="mw-100" style="max-height: 300px">
        </div>
      </div>
    </div>
  </section>
  <section class="column-section alternate">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-first order-md-first text-center">
          <img src="../../../assets/images/lock.png" class="mw-100" style="max-height: 300px">
        </div>
        <!--<div class="col-md-6 order-last order-md-last v-a-center">-->
          <!--<h2>Bezpečnost je pro nás vždy na prvním místě, proto využíváme platební bránu 21. století.</h2>-->
          <!--<p>Všechna data jsou bezpečně uložena u celosvětového poskytovatele služeb platebních bran GP WebPay, který poskytuje služby největším bankám po celém světě. Důvěryhodnost-->
            <!--platebního systému GP webpay dokládá i partnerství s největšími českými a slovenskými bankami (ČSOB, Komerční banka, Raiffeisenbank,UniCredit Bank), které jej nabízejí svým-->
            <!--zákazníkům. Na činnost společnosti Global Payments Europe dohlíží i Česká národní banka.</p>-->
        <!--</div>-->
        <div class="col-md-6 col-sm-6  order-last order-md-last">
          <header class="mb-60">
            <h1 class="m-0">Analytics Data Statistics</h1>
            <p >We truly care about our customers</p>
          </header>
          <p>Research heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          <a href="#">
            Read more
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-section gradient gradient-bg">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <h3>Zapojte se do programu a nechte svůj web <span><strong>vydělávat</strong></span>.</h3>
            <p>
              Již během pár minut můžete začít vydělávat.
            </p>
          </div>
          <div class="col-md-3 col-sm-12 flex-right-center">
            <a routerLink="/register" rel="nofollow" class="btn btn-primary cta btn-lg">Mám zájem</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="client-section section-sm" *ngIf="true">
    <div class="container">
      <header class="text-center">
        <h3 class="client-title">Klienti</h3>
      </header>
      <div class="col-12 text-center">
        <ul class="client-list dashed">
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/1.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/2.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/3.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/4.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/5.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/6.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/7.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/8.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/6.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/3.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/1.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/2.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/3.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/4.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/5.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/6.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/7.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/8.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/6.jpg"></a></li>
          <li><a href="#" target="_blank"><img class="img-fluid" src="https://theme.stepofweb.com/Smarty/v2.3.0/HTML_BS4/demo_files/images/brands/3.jpg"></a></li>
        </ul>
      </div>
    </div>
  </section>
</section>

