@import "../abstracts/variables";
@import "../abstracts/mixin";
@import "../abstracts/function";

nav.navbar {
  background-color: $navbar-background-color;
  border-bottom: rgba(0,0,0,0.05) 1px solid;
  box-shadow: 0 0 2px rgba(0,0,0,.1);
  //transition: padding .4s;

  &.fixed-on-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &.transparent {
      background-color: transparent;
      box-shadow: none;
      border-bottom: none;
      padding: 24px 20px;

      .navbar-nav > .nav-item > .nav-link {
        color: #ffffff;
      }
    }
  }

  &:not(.fixed-on-scroll) {
    //transition: padding .4s, background-color .4s;
  }



  .navbar-nav {
    & > .nav-item {
      & > .nav-link {
        @include rem-fallback(font-size, 14);
        color: $navbar-link-color;
        text-transform: uppercase;
        padding: 13px 20px;
        font-weight: 600;

        &.notification {
          position: relative;
          padding: 9px 12px;

          span {
            &:before {
              margin: 0;
              @include rem-fallback(font-size, 19);
            }
          }

          .notification__badge {
            transition: transform .2s;
            content:attr(data-count);
            position:absolute;
            top: 5px;
            right: 3px;
            font-size:.7em;
            font-family: "Open Sans", sans-serif;
            background:$danger;
            color:white;
            width:18px;
            height:18px;
            text-align:center;
            line-height:18px;
            border-radius:50%;

            &.notification--empty {
              transform: scale(0)!important;
            }
            &.notification--new {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .sidebar__toggler {
    margin-right: auto;
    margin-left: 0;
  }
}
