@import "../abstracts/variables";
@import "../abstracts/mixin";

/*
 * Layout for plugin module
 */
body.plugin {
  background-color: transparent;
  margin-bottom: 0;

  .plugin-applications {
    display: flex;
    flex-direction: row;

    .side {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
      box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);

      &.side--left {
        position: relative;
        width: $box-login-width * 1px;
        transition: transform .2s ease;

        &.active {
          transform: translateX(0);
        }
      }

      &.side--right {
        //flex: 1 0 auto;
        flex: 1;
        margin-left: 20px;
        min-height: 441px;

        pv-services, pv-donation, pv-subscription {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }

      @include media-breakpoint-down(sm){
        &.side--left {
          position: absolute;
          z-index: 2;
          transform: translateX(-100%);
        }

        &.side--right {
          margin-left: 0;
        }
      }
    }
  }
}


