@import "../abstracts/variables";
@import "../abstracts/mixin";


pv-sidebar + main {
  padding: 2rem 2.5rem;
}

pv-sidebar .sidebar--minimized {
  transform: translateX($sidebar-width * -1px);
}

.sidebar {
  position: fixed;
  z-index: 1000;
  display: flex;
  @include rem-fallback(width, $sidebar-width);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #2e323a;
  color: #838790;
  font-family: $sidebar-font;
  transition: transform .2s ease;


  .fas {
    margin-top: -2px;
    width: 18px;
  }

  h3 {
    font-size: 13px;
    text-transform: uppercase;
    color: #838790;
    font-weight: 500;
    font-family: $sidebar-font;
    padding: 0 28px;
    margin-bottom: 16px;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  header {
    display: flex;
    align-items: center;
    @include rem-fallback(padding-right, 18);
    @include rem-fallback(padding-left, 18);
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.06);

    .brand__logo {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: #26B4FF;
      color: white;
      @include rem-fallback(font-size, 17);
      font-weight: 600;
    }

    .brand__name {
      @include rem-fallback(font-size, 18);
      line-height: line-height(18);
      color: white;
      margin-left: 15px;
    }
  }



  .sidebar__content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .sidebar__customer, .sidebar__applications, .sidebar__admin {
      margin-top: 16px;
      border-bottom: 1px solid rgba(255,255,255,0.06);
    }
  }

  .sidebar__nav {
    list-style: none;
    padding: 0;
  }


  .sidebar__item {
    & > a {
      display: flex;
      padding: 10px 27px;

      color: #838790;
      @include rem-fallback(font-size, 14);
      font-weight: 400;
      align-items: center;
      @include disable-selection();
      transition: all .2s ease;

      .fl:before {
        @include rem-fallback(font-size, 16);
        margin: 0;
      }

      .fl + .item-text {
        margin-left: 20px;
      }

      &:hover, &:active, &:focus, &.active {
        color: white;
        text-decoration: none;
      }
    }



    &.active {
      & > a {
        color: white;
      }
      & > a:not(.sidebar__dropdown-toggle) {
        background-color: #383c44;
      }
    }


  }

  .sidebar__dropdown-toggle:after {
    font-family: $font-awesome-font-family;
    font-weight: 900;
    content: "\f078";
    position: absolute;
    transition: transform .2s ease;
    right: 28px;
    @include rem-fallback(font-size, 8);
  }

  .sidebar__dropdown.show {
    & > .sidebar__dropdown-toggle {
      text-decoration: none;

      &:after {
        transform: rotate(180deg);
      }
    }

    & > .sidebar__dropdown-menu {
      //display: block;
      visibility: visible;
      opacity: 1;
      position: relative;

      .fl {
        display: none;
      }
    }
  }

  .sidebar__dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    padding: 10px 0;

    a {
      padding-left: 35px;

      .item-text, .fl + .item-text {
        margin-left: 30px;
      }
    }

    .sidebar__dropdown-menu {
      a {
        padding-left: 50px;
      }
    }
  }
}


.sidebar__toggler {
  color: $sidebar-burger-color;
  @include rem-fallback(font-size, 18);
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  opacity: 1;
  transition: opacity .2s ease;

  .fl:before {
    margin: 0;
    @include rem-fallback(font-size, 18);
  }

  .fl + .item-text {
    margin-left: 16px;
  }

  &:hover, &:focus, &:active {
    outline: none;
    color: $sidebar-burger-hover-color;
  }

  &.sidebar__toggler--dhover {
    &:hover, &:focus, &:active {
      color: $header-burger-hover-color;
    }
  }
}
