$background-color: #f2f2f2;
$foreground-color: #666;
$font-family: 'Open Sans', sans-serif;
$headings-color: #414141;

$primary: #02A1BF;
$primary-color: $primary;
$primary-dark-color: #01748A;
$selection-color: $primary;

$overlay-background: #005565;

$section-primary-text-color: #ffffff;

/* Button */
$button-primary-gradient-start-color: #01748a;
$button-primary-gradient-end-color: #01adce;

/* Dropdown */
$dropdown-item-hover-background: #ebf5ff;
$dropdown-item-hover-color: #212529;

/* Social */
$facebook-background: #3b5998;
$facebook-color: #ffffff;
$google-background: #d34836;
$google-color: #ffffff;

/* Inputs */
$input-border-color: #eeeeee;
$input-border-hover-color: #dddddd;
$input-error-color: #dc143c;
$input-error-border-color: #f594a7;

/* Navbar */
$navbar-background-color: #ffffff;
$navbar-link-color: #1F262D;

/* Footer */
$footer-height: 136px;
$footer-background-color: #1f5a77;
$footer-nav-border-color: #dfdfdf;
$footer-copyright-color: rgba(255,255,255,0.6);
$footer-copyright-link-color: $footer-copyright-color;

/* Homepage */
$homepage-background: #ffffff;
$carousel-heading-color: #ffffff;
$carousel-paragraph-color: $carousel-heading-color;

/* Login */
$social-media-color: #a7a7a7;
$social-media-delimiter-color: #dddddd;


/* Gradient */
$gradient-primary-start-color: #082e4b;
$gradient-primary-end-color: #01adce;
$gradient-success-start-color: #004e38;
$gradient-success-end-color: #37b34a;


/* Bootstrap defaults */
$enable-rounded: false;
$enable-shadows: false;
