<div class="container-fluid mb-5 mt-3 my-account client-sign-up">
  <h2 class="page__title"><span class="page__title--disabled">Klient /</span> Účet</h2>


  <div class="row no-gutters">
    <div class="col-12">
      <pv-alerts></pv-alerts>
    </div>
  </div>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-12 pt-0">

        <!--<pv-wizard></pv-wizard>-->

        <ul class="form-wizard">
          <li class="form-wizard__item" [ngClass]="{'active': tab.active, 'disabled': tab.disabled, 'success': tab.status === 'success', 'error': tab.status === 'error'}"
              *ngFor="let tab of tabs" (click)="selectTab(tab)">
            <div class="form-wizard__item__step"><span class="form-wizard__item__icon fas" [ngClass]="tab.icon"></span></div>
            <div class="form-wizard__item__title">{{tab.title}}</div>
          </li>
        </ul>

      </div>
      <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="form" novalidate>
          <div class="tab-content">
            <div class="tab-pane fade" #baseInfo [ngClass]="{'active show': tabs[0].active}">
              <div class="card-body">
                <fieldset>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group text-left mt-2"
                           [ngClass]="{'has-error': baseInfoForm.get('subjectType').invalid && baseInfoForm.get('subjectType').dirty}">
                        <pv-radio
                          [id]="'subject-type'"
                          [control]="baseInfoForm.get('subjectType')"
                          [label]="'Typ osoby'"
                          [items]="[{label: 'Fyzická', value: SubjectType.PHYSICAL}, {label: 'Právnická', value: SubjectType.CORPORATE}]"></pv-radio>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <pv-input
                        [id]="'company'"
                        [type]="'text'"
                        [control]="baseInfoForm.get('company')"
                        [label]="'Firma'"
                        [placeholder]="'Název firmy'"></pv-input>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-6">
                          <pv-input
                            [id]="'ico'"
                            [type]="'number'"
                            [control]="baseInfoForm.get('ico')"
                            [label]="'IČO'"
                            [placeholder]="'Vyhledat IČO subjektu'"></pv-input>
                        </div>
                        <div class="col-6">
                          <pv-input
                            [id]="'dic'"
                            [type]="'text'"
                            [control]="baseInfoForm.get('dic')"
                            [label]="'DIČ'"
                            [placeholder]="'DIČ'"></pv-input>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Street & DIC -->
                  <div class="row">
                    <div class="col-6">
                      <pv-input
                        [id]="'street'"
                        [type]="'text'"
                        [control]="addressForm.get('street')"
                        [label]="'Ulice'"
                        [placeholder]="'Ulice'"></pv-input>
                    </div>

                    <div class="col-6">
                      <pv-input
                        [id]="'email'"
                        [type]="'text'"
                        [control]="baseInfoForm.get('email')"
                        [label]="'E-mail'"
                        [placeholder]="'E-mail'"></pv-input>
                    </div>
                  </div>

                  <!-- ZIP, City & phone -->
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-4">
                          <pv-input
                            [id]="'zip'"
                            [type]="'text'"
                            [control]="addressForm.get('zip')"
                            [label]="'PSČ'"
                            [placeholder]="'PSČ'"></pv-input>
                        </div>
                        <div class="col-8">
                          <pv-input
                            [id]="'city'"
                            [type]="'text'"
                            [control]="addressForm.get('city')"
                            [label]="'Město'"
                            [placeholder]="'Město'"></pv-input>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- State & E-mail -->
                  <div class="row">
                    <div class="col-6">
                      <pv-select
                        [id]="'state'"
                        [items]="states"
                        [control]="addressForm.get('state')"
                        [label]="'Stát'"></pv-select>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col" *ngIf="!hideAres">
                    <div class="form-group text-left mb-2">
                      <button class="btn btn-sm btn-sharp"
                              [ngClass]="{'btn-primary': baseInfoForm.get('ico').value, 'btn-outline-primary': !baseInfoForm.get('ico').value}"
                              (click)="loadClientDataFromAres(baseInfoForm.get('ico').value)"
                              [disabled]="!baseInfoForm.get('ico').value"><span
                        class="flaticon-grid-world"></span> Načíst data z databáze ARES
                      </button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group text-right mb-2">
                      <button class="btn btn-primary" (click)="nextStep(baseInfoForm, tabs[0], tabs[1])">Pokračovat</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" #contactPerson [ngClass]="{'active show': tabs[1].active}">
              <div class="card-body">
                <fieldset>
                  <div class="row">
                    <div class="col-6">
                      <pv-input
                        [id]="'name'"
                        [type]="'text'"
                        [control]="contactPersonForm.get('name')"
                        [label]="'Jméno'"
                        [placeholder]="'Jméno kontaktní osoby'"></pv-input>
                    </div>
                    <div class="col-6">
                      <pv-input
                        [id]="'surname'"
                        [type]="'text'"
                        [control]="contactPersonForm.get('surname')"
                        [label]="'Příjmení'"
                        [placeholder]="'Příjmení kontaktní osoby'"></pv-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <pv-input
                        [id]="'phone'"
                        [type]="'text'"
                        [control]="contactPersonForm.get('phone')"
                        [label]="'Telefon'"
                        [placeholder]="'Telefonní číslo kontaktní osoby'"></pv-input>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <div class="form-group text-right mb-2">
                      <button class="btn btn-primary" (click)="nextStep(contactPersonForm, tabs[1], tabs[2])">Pokračovat</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" #bank [ngClass]="{'active show': tabs[2].active}">
              <div class="card-body">
                <fieldset>
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-8">
                          <pv-input
                            [id]="'bankNumber'"
                            [type]="'text'"
                            [control]="bankForm.get('bankNumber')"
                            [label]="'Číslo účtu'"
                            [placeholder]="'Číslo účtu'"></pv-input>
                        </div>
                        <div class="col-4">
                          <pv-input
                            [id]="'bankCode'"
                            [type]="'text'"
                            [control]="bankForm.get('bankCode')"
                            [label]="'Kód banky'"
                            [placeholder]="'Kód banky'"></pv-input>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <pv-input
                            [id]="'iban'"
                            [type]="'text'"
                            [control]="bankForm.get('iban')"
                            [label]="'IBAN'"
                            [placeholder]="'IBAN'"></pv-input>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <pv-input
                            [id]="'swift'"
                            [type]="'text'"
                            [control]="bankForm.get('swift')"
                            [label]="'SWIFT'"
                            [placeholder]="'SWIFT'"></pv-input>
                        </div>
                      </div>

                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group form-check mt-2"
                         [ngClass]="{'has-error':bankForm.controls['agreement'].invalid && bankForm.controls['agreement'].dirty}">
                      <input type="checkbox" name="agreement" id="agreement" class=""
                             [formControl]="bankForm.controls['agreement']">
                      <label for="agreement" class="form-check-label">
                        Souhlasím se zpracováním osobních údajů. <span class="required">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6" *ngIf="!hideAres">
                    <div class="form-group text-right mb-2">
                      <input type="submit" class="btn btn-primary" value="Dokončit" (click)="nextStep(bankForm, tabs[2])">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!--<div class="row">-->
  <!--<div class="col-12">-->
  <!--<pv-alerts></pv-alerts>-->
  <!--<div class="card mb-4">-->
  <!--<h6 class="card-header">-->
  <!--Default-->
  <!--</h6>-->
  <!--<ng-container *ngIf="!completed">-->
  <!--<form class="form-horizontal" [formGroup]="form" novalidate>-->
  <!--<pv-tabs #tabs>-->
  <!--<pv-tab title="Základní údaje" #tab1>-->
  <!--<div class="card-body">-->

  <!--</div>-->
  <!---->
  <!--</pv-tab>-->
  <!--<pv-tab title="Kontaktní osoba" #tab2>-->
  <!--<div class="card-body">-->

  <!--</div>-->
  <!---->
  <!--</pv-tab>-->
  <!--<pv-tab title="Bankovní spojení" #tab3>-->
  <!--<div class="card-body">-->

  <!--</div>-->
  <!---->
  <!--</pv-tab>-->
  <!--</pv-tabs>-->
  <!--</form>-->

  <!--</ng-container>-->
  <!--<ng-container *ngIf="completed">-->
  <!--<div class="card-body">-->
  <!--Registrace proběhla v pořádku.-->
  <!--</div>-->
  <!--</ng-container>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
