<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-4 mr-auto ml-auto p-0">
        <!--<div class="alert alert-danger">Alert!</div>-->
      </div>
    </div>
    <div class="row">
      <div class="box box-login col-4 p-4">
        <header>
          <h2>Zapomenuté heslo</h2>
        </header>
        <div class="box-inner">
          <form>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input class="form-control" id="email" placeholder="jan.novak@email.cz" type="email">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-gradient btn-lg btn-full" type="submit">Obnovit heslo</button>
            </div>
          </form>
        </div>
        <footer class="text-center">
          <p class="mb-0">Po odeslání požadavku obdržíte e-mail s instrukcemi, jak postupovat k obnovení hesla.</p>
        </footer>
      </div>
    </div>
  </div>
</section>
